<div class="container my-5">
  <div class="card big-box">
    <div class="d-flex justify-content-between px-5 py-3">
      <div class="image"><i class="bi bi-pencil-square pencil-image"></i></div>
      <div class="quiz-header">
        <h4>Fun Quiz</h4>
        <span class="quizheader-span">Welcome {{ name }}</span>
        <span class="quizheader-span">{{ email }} </span>
      </div>
    </div>
    <ng-container *ngIf="!isQuizCompleted">
      <div class="d-flex justify-content-around py-3">
        <div class="score">
          <h5>{{ points }} Points</h5>
        </div>
        <div class="question-remain">
          <span
            >Question {{ currentQuestion + 1 }} of
            {{ questionList.length }}</span
          >
        </div>
        <div class="timer">
          <h5>{{ counter }} sec ⏲️</h5>
        </div>
      </div>
      <div class="progress mb-3">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated progressBar-progress"
          role="progressbar"
          aria-valuenow="20"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: progress + '%' }"
        ></div>
      </div>
      <div class="question">
        <div class="card">
          <h4>{{ questionList[currentQuestion]?.questionText }}</h4>
        </div>
      </div>
      <div class="options">
        <ol *ngFor="let option of questionList[currentQuestion]?.options">
          <li (click)="answer(currentQuestion + 1, option)">
            <div appChangeBg [isCorrect]="option.correct" class="card">
              {{ option.text }}
            </div>
          </li>
        </ol>
      </div>
      <div class="d-flex justify-content-between">
        <button
          [disabled]="currentQuestion === 0"
          class="btn"
          (click)="previousQuestion()"
        >
          <i class="bi bi-chevron-left question-icons"></i>
        </button>
        <button class="btn" (click)="resetQuiz()">
          <i class="bi bi-arrow-repeat question-icons"></i>
        </button>
        <button class="btn" (click)="nextQuestion()">
          <i class="bi bi-chevron-right question-icons"></i>
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="isQuizCompleted">
      <div class="row d-flex justify-content-between">
        <img style="width: 45%;" class="img-fluid col-sm-12 mx-auto" src="/assets/images/congrats.jpg" alt="Congrats picture" />
        <div class="result text-center col-md-6 col-sm-12">
          <h3>You have completed the quiz.</h3>
          <p>Total Question Attempted : {{questionList.length}}</p>
          <p>Total Correctly Answered : {{correctAnswer}} </p>
          <p>Total Wrongly Answered : {{incorrectAnswer}} </p>
          <p>Your Score :{{points}}</p>
        </div>
      </div>
    </ng-container>
    
  </div>
</div>
